.Rline {
  display: flex;
  width: 100%;
  background-color: #712f3c;
  border: 10px solid #712f3c;
  position: sticky;
  top: 4rem;
}

.Rline.sticky{
  position: sticky;
  z-index: 0;
}

.Rline.absolute{
  position: absolute;
  z-index: 0;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem 0 0 0;
  position: sticky;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 2;
  /* margin-bottom: 2rem; */
}

.navbar.sticky {
  position: sticky;
  z-index: 0;
}

.navbar.relative {
  position: relative;
}

.menu {
  display: none;
}

.nav-logo {
  display: flex;
}

.nav-links {
  color: #000;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  font-weight: 400;
  align-items: center;
}

.nav-link {
  position: relative;
  z-index: 4;
}

.nav-links p {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.nav-links p:focus {
  font-weight: 700;
}

.menu.block{
  display: block;
}

.menu.none{
  display: none;
}



.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  width: max-content;
  z-index: 4;
  border-radius: 10px;
  padding: 0.5rem 0;
}

.sub-menu p {
  margin: 0;
  padding: 10px 20px;
  white-space: nowrap;
  font-size: 14px;
}

.sub-menu p:hover {
  background-color: #f1f1f1;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  line-height: 0.4;
}

.nav-search {
  display: flex;
  align-items: center;
  border: 1px solid #363636;
  border-radius: 20px;
  position: relative;
  background-color: #fff;
  /* left: 15%; */
}

.nav-search input {
  padding: 8px;
  border: none;
  background-color: #FFF;
  border-radius: 20px;
  color: #333232ad;
  font-size: 14px;
  outline: none;
}


/* .nav-search button {
  background-color: white;
  border: 1px solid #ccc;
  border-left: none;
  padding: 5px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
} */
.searchIcon{
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding-right: 0.5rem;
}
.searchIcon img {
  height: 25px;
  width: 25px;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    display: none;
  }
  .Rline{
    display: none;
  }
  .menu {
    display: flex;
    z-index: 2000;
  }

  .menuLogo {
    display: flex;
    width: 100%;
    background-color: #601928;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    z-index: 2000;
  }

  .leftArrow {
    width: fit-content;
    margin-left: 2rem;
  }

  .Mlogo {
    width: fit-content;
    margin-right: 2rem;
  }

  .menuIcon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 1;
  }

  .searchMIcon{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    top: 42px;
    right: 100px;
    z-index: 1;
  }

  /* Side Menu */
  .side-menu,.side-search {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #b2c0ba;
    color: #000;
    transition: left 0.3s;
    z-index: 1;
    overflow-y: scroll;
  }

  .side-search{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menuList {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .menuList p {
    font-size: 20px;
    font-weight: 400;
    margin-left: 1rem;
    color: #000;
  }

  .mRedLine {
    width: 100%;
    border: 1px solid #601928;
  }

  .side-menu.open, .side-search.open {
    left: 0;
  }

  body.no-scroll {
    overflow: hidden !important;
  }

  .sub-menu {
    position: relative;
    top: 100%;
    left: 0;
    background-color: #b2c0ba;
    border: none;
    display: flex;
    flex-direction: column;
    width: auto;
    z-index: 4;
    border-radius: 10px;
  }
  
  .sub-menu p {
    margin: 0;
    padding: 10px 20px;
    white-space: break-spaces;
  }

  .whiteLine{
    width: 100%;
    border: 1px solid #FFF;
  }
  
  .nav-search{
    width: 90%;
    display: flex;
    margin-top: 2rem;
    /* opacity: 0.8; */
    border: 1.5px solid #fff;
    background: #00000026;
  }

  .nav-search input{
    width: 100%;
    font-size: 16px;
    padding: 12px 8px;
    color: #fff;
    background: transparent;
  }

  .nav-search input::placeholder{
    color:  #ffffff86;
  }

  .searchIcon{
    padding-left: 1rem;
    padding-right: 0;
  }

  .searchIcon img{
    width: 22px;
    height: 22px;
  }
}
